body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

header {
    background-color: #ffcccb;
    padding: 20px;
}

.logo {
    width: 150px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

main {
    padding: 20px;
}

.intro {
    background-color: #fefbd8;
    padding: 20px;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.videos video {
    width: 80%;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
